.padding {
  padding: 5%;
}

.paymentCard {
  padding: 5% 3%;
  border: none;
}

.paymentRow {
  margin: 4% 0%;
  width: 100%;
  background-color: #f0f0f0;
}

.btnPaymentMethod {
  font-size: 90%;
  width: 50%;
  background-color: #f0f0f0;
  color: black;
  outline: none;
  border: none;
  border-radius: 0;
}

.btnPaymentMethod:hover {
  width: 50%;
  background-color: #00bfa5;
  outline: none;
  border: none;
  border-radius: 0;
}

.btnPaymentMethod:focus,
.btnPaymentMethod:active {
  width: 50%;
  background-color: #00bfa5;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
