.pageDescriptionText {
  width: 75%;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "NexaBold";
  margin-bottom: 3%;
}

.pageDescriptionSubText {
  width: 90%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-family: "NexaRegular";
  color: grey;
  margin-bottom: 3%;
}

.image {
  max-width: 150px;
  margin-bottom: 5%;
}
.padding {
  padding: 10% 3%;
}
