.padding {
  padding: 10% 5%;
}

.card {
  border: none;
  padding: 3%;
}

.title {
  padding-top: 6%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: "NexaBold";
  margin-bottom: 5%;
}

.shutterLogo {
  max-width: 100px;
}

.estimatedDelivery {
  font-family: "NexaBold";
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.date {
  font-family: "NexaRegular";
  color: #808080;
  font-size: 1rem;
}

.note {
  margin-bottom: 3%;
  width: 85%;
  text-align: center;
  font-family: "NexaLight";
  color: #808080;
  font-size: 0.9rem;
}
