body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NexaRegular";
  src: local("NexaRegular"),
    url("./fonts/Nexa-Trial-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NexaBold";
  src: local("NexaBold"), url("./fonts/Nexa-Trial-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NexaExtraBold";
  src: local("NexaExtraBold"),
    url("./fonts/Nexa-Trial-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NexaLight";
  src: local("NexaLight"),
    url("./fonts/Nexa-Trial-Light.ttf") format("truetype");
  font-weight: bold;
}
