.padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  height: 90vh;
  width: auto;
}

ul {
  padding-top: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.item {
  font-family: "NexaBold";
  font-size: 200%;
  margin-bottom: 40%;
}

span:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #07ecce 50%);
}

span:active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #07ecce 50%);
}
